<form [formGroup]="registerForm" (ngSubmit)="registerCompany()">
    <label for="companyName">Company Name</label>
    <input type="text" id="companyName" name="company name" formControlName="companyName"/>
    <div *ngIf="registerForm.controls.companyName.errors">
      <span *ngIf="registerForm.controls.companyName.hasError('required') && registerForm.controls.companyName.touched">Company name is required</span>
    </div>

    <label for="email">Email</label>
    <input type="email" id="email" name="email" formControlName="email"/>
  <div *ngIf="registerForm.controls.email.errors">
    <span *ngIf="registerForm.controls.email.hasError('required') && registerForm.controls.email.touched">email is required</span>
    <span *ngIf="registerForm.controls.email.hasError('email') && registerForm.controls.email.touched">invalid email format</span>
  </div>

    <input type="submit" value="Create" [disabled]="registerForm.invalid" />
</form>


